<footer class="bg-headerBg py-6 lg:py-8">
	<section class="mx-auto w-full max-w-7xl px-4">
		<div class="flex flex-col items-center px-10">
			<ul
				class="flex w-full flex-wrap justify-center gap-x-4 gap-y-4 text-sm underline-offset-[3px]"
			>
			</ul>
			<p class="pt-2 text-center text-xs text-primary">
				© 2025 RENTROOMBCN, todos los derechos reservados.
			</p>
		</div>
	</section>
</footer>
