---
const { user } = Astro.locals
const isLoggedIn = !!user
---

<style>
	.mobile-menu {
		position: absolute;
		top: 100%;
		right: 0;
		background: var(--headerBg, white);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 0.5rem;
		width: 100%;
		text-align: center;
	}

	.hidden {
		display: none;
	}

	img {
		width: 15rem; /* El logo siempre ocupa el 20% del ancho del contenedor */
	}

	@media (min-width: 768px) {
		.desktop-menu {
			display: flex;
		}

		.mobile-menu {
			display: none; /* Siempre oculta el menú móvil en pantallas grandes */
		}
	}
</style>

<header
	class="sticky top-0 z-50 flex w-full items-center justify-between bg-headerBg px-9 py-4 backdrop-blur-xl"
>
	<div class="flex w-full items-center justify-between md:mx-auto md:max-w-[1400px]">
		<!-- Logo -->
		<a href="/">
			<img src="/logo.svg" alt="Logo RentRoomBcn" />
		</a>

		<!-- Botón de logout (solo visible si está logueado) -->
		<div class="desktop-menu hidden md:flex">
			{
				isLoggedIn && (
					<form method="POST" action="/api/auth/logout">
						<button type="submit" class="hover:text-primaryDark text-sm font-medium">
							Cerrar sesión
						</button>
					</form>
				)
			}
		</div>

		<!-- Mobile Menu Button -->
		{
			isLoggedIn && (
				<form method="POST" action="/api/auth/logout" class="md:hidden">
					<button id="menu-button" class="flex items-center p-2 md:hidden">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
							/>
						</svg>
					</button>
				</form>
			)
		}
	</div>
</header>
