---
import Layout from '@layouts/Layout.astro';
import { ROOMS } from '../data/rooms';
import PDPRoom from '@components/PDPRoom.astro';
import SectionContainer from '@components/SectionContainer.astro';

// Función para generar las rutas dinámicas
export async function getStaticPaths() {
  return ROOMS.map(room => ({
    params: { slug: room.slug },
  }));
}

// Obtén el slug desde la URL
const { slug } = Astro.params;

// Busca la habitación correspondiente al slug
const room = ROOMS.find(room => room.slug === slug);

if (!room) {
  throw new Error(`No se encontró la habitación con el slug: ${slug}`);
}
---

<Layout title="RentRoomBcn - ¡Encuentra tu habitación ideal!">
  <SectionContainer class="px-0">
        <div class="max-w-7xl mx-auto px-6 lg:px-8">
          <PDPRoom room={room} />
        </div>
    </SectionContainer>
</Layout>
