---
import SectionContainer from "@/components/SectionContainer.astro"
import i18next from "@/i18n/config.js"

interface Article {
	class: string
	title: string
	content: string
}

interface AboutRooms {
	title: string
	articles: Article[]
}

const lang = Astro.params.lang || "es"
const translations = i18next.getResourceBundle(lang, "translation")

const aboutRooms: AboutRooms = translations.aboutRooms

var ARTICLES = [
	{
		class: "bg-gradient-to-r from-[#D9E3F7] to-[#A8C4F0] text-primary",
	},
	{
		class: "bg-gradient-to-r from-[#C4CFFA] to-[#8FA8F0] text-primary",
	},
	{
		class: "bg-gradient-to-r from-[#B9D1F7] to-[#91AFE5] text-primary",
	},
	{
		class: "bg-gradient-to-r from-[#EEF2FF] to-[#D0D9F9] text-primary",
	},
]
---

<SectionContainer class="px-4">
	<div class="flex flex-col items-center pb-8 text-center">
		<h1
			class="text-balance text-4xl font-black tracking-tight text-primary sm:text-5xl md:text-6xl lg:text-5xl"
		>
			{aboutRooms.title}
		</h1>
	</div>

	<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
		{
			aboutRooms.articles.map(({ title }, index) => (
				<div
					class:list={[
						index === 0
							? "md:col-span-2 md:row-span-1"
							: index === 1
								? "md:row-span-2"
								: "md:col-span-1",
						"group relative w-full overflow-hidden rounded-lg shadow-md transition-shadow duration-300 hover:shadow-lg",
						ARTICLES[index]?.class,
					]}
				>
					<div class="flex h-full flex-col justify-start p-4">
						<h3 class="mb-2 text-xl font-bold text-primary">{title}</h3>
						{/* <p class="text-sm text-texth2">{content}</p> */}
					</div>
				</div>
			))
		}
	</div>
</SectionContainer>
