---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
    <form class="p-6 bg-gray-100 rounded-lg shadow-md">
        <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-6">
          <!-- Campo de correo -->
          <div class="sm:col-span-1">
            <label for="email" class="block text-sm font-medium text-gray-900">Correo</label>
            <div class="mt-2">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Introduce tu correo"
                class="block w-full rounded-md border-0 bg-transparent py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                required
              />
            </div>
          </div>
      
          <!-- Campo de nombre -->
          <div class="sm:col-span-1">
            <label for="name" class="block text-sm font-medium text-gray-900">Nombre</label>
            <div class="mt-2">
              <input
                type="text"
                name="name"
                id="name"
                autocomplete="name"
                placeholder="Introduce tu nombre"
                class="block w-full rounded-md border-0 bg-transparent py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
                required
              />
            </div>
          </div>
        </div>
      
        <!-- Campo para habitación -->
        <div class="mt-6">
          <label for="room" class="block text-sm font-medium text-gray-900">Habitación</label>
          <div class="mt-2">
            <textarea
              id="room"
              name="room"
              rows="2"
              placeholder="Escribe el número o nombre de la habitación que deseas contactar"
              class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"
              required
            ></textarea>
          </div>
        </div>
      
        <!-- Checkbox de aceptación -->
        <div class="mt-6">
          <div class="flex items-start">
            <input
              id="accept-data"
              name="accept-data"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
              required
            />
            <label for="accept-data" class="ml-3 text-sm text-gray-900">
              Acepto el <a href="#" class="text-indigo-600 underline">tratamiento de mis datos</a>.
            </label>
          </div>
        </div>
      
        <!-- Botón de envío -->
        <div class="mt-6">
          <button
            type="submit"
            class="w-full sm:w-auto inline-flex justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Enviar
          </button>
        </div>
      </form>
      

</SectionContainer>
  