<section class="px-4 md:w-full md:max-w-[90rem] md:mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Imagen 1 (más grande en pantallas medianas y grandes) -->
        <div class="rounded-lg overflow-hidden shadow-lg sm:col-span-2 lg:col-span-2">
            <img src="/AboutUs1.jpeg" alt="Imagen 1" class="w-full h-full object-cover"/>
        </div>

        <!-- Imagen 2 (tamaño mediano) -->
        <div class="rounded-lg overflow-hidden shadow-lg">
            <img src="/AboutUs2.jpeg" alt="Imagen 2" class="w-full h-auto object-cover"/>
            <div class="p-5 bg-white text-center text-primary">
                <p class="text-base sm:text-lg">
                    En RentRoomBCN, creemos firmemente que cada persona merece un espacio que no solo cubra sus necesidades, sino que también se sienta como su hogar. Nos enorgullece ofrecer una experiencia personalizada en la que cada cliente se sienta acompañado desde el primer momento. Sabemos que cada uno tiene su propio estilo y ritmo de vida, por eso trabajamos incansablemente para ofrecer opciones que se adapten perfectamente a tus necesidades y expectativas. Desde la elección de la habitación perfecta hasta el asesoramiento continuo durante tu estancia, estamos aquí para garantizar que tu experiencia sea única y especial.
                </p>
            </div>
        </div>

        <!-- Imagen 3 (tamaño mediano) -->
        <div class="rounded-lg overflow-hidden shadow-lg">
            <img src="/AboutUs3.jpeg" alt="Imagen 3" class="w-full h-auto object-cover"/>
            <div class="p-5 bg-white text-center text-primary">
                <p class="text-base sm:text-lg">
                    La transparencia es uno de nuestros pilares fundamentales. Nos comprometemos a ofrecerte información clara y precisa en todo momento, para que tomes decisiones informadas y seguras. Creemos que la confianza es la base de cualquier relación, y en RentRoomBCN te proporcionamos todos los detalles sobre nuestros espacios, contratos y condiciones sin sorpresas ni letra pequeña. Además, nos esforzamos por mantener los más altos estándares de calidad en cada alojamiento que ofrecemos. Cada habitación y cada espacio es cuidadosamente seleccionado y revisado para garantizar que tu estancia sea lo más cómoda, segura y agradable posible.
                </p>
            </div>
        </div>

        <!-- Imagen 4 (más grande en pantallas medianas y grandes) -->
        <div class="rounded-lg overflow-hidden shadow-lg sm:col-span-2 lg:col-span-2">
            <img src="/AboutUs4.jpeg" alt="Imagen 4" class="w-full h-full object-cover"/>
        </div>
    </div>
</section>
