---
import i18next from '../i18n/config.js';

const lang = Astro.url.pathname.split('/')[1] || 'es'; // 'es' por defecto si no hay idioma en la URL
const translations = i18next.getResourceBundle(lang, 'translation');
const ourBeliefs = translations.OurBeliefs;
---

<section class="px-4 md:w-full md:max-w-[90rem] md:mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Imagen 1 (m치s grande en pantallas medianas y grandes) -->
        <div class="rounded-lg overflow-hidden shadow-lg sm:col-span-2 lg:col-span-2">
            <img src="/AboutUs1.jpeg" alt="Imagen 1" class="w-full h-full object-cover"/>
        </div>

        <!-- Imagen 2 (tama침o mediano) -->
        <div class="rounded-lg overflow-hidden shadow-lg">
            <img src="/AboutUs2.jpeg" alt="Imagen 2" class="w-full h-auto object-cover"/>
            <div class="p-5 bg-white text-center text-primary">
                <p class="text-base sm:text-lg">
                    {ourBeliefs.text1}
                </p>
            </div>
        </div>

        <!-- Imagen 3 (tama침o mediano) -->
        <div class="rounded-lg overflow-hidden shadow-lg">
            <img src="/AboutUs3.jpeg" alt="Imagen 3" class="w-full h-auto object-cover"/>
            <div class="p-5 bg-white text-center text-primary">
                <p class="text-base sm:text-lg">
                    {ourBeliefs.text2}
                </p>
            </div>
        </div>

        <!-- Imagen 4 (m치s grande en pantallas medianas y grandes) -->
        <div class="rounded-lg overflow-hidden shadow-lg sm:col-span-2 lg:col-span-2">
            <img src="/AboutUs4.jpeg" alt="Imagen 4" class="w-full h-full object-cover"/>
        </div>
    </div>
</section>
