---
import i18next from "@/i18n/config.js"

const lang = Astro.url.pathname.split("/")[1] || "es" // 'es' por defecto si no hay idioma en la URL
const translations = i18next.getResourceBundle(lang, "translation")
const ourBeliefs = translations.OurBeliefs
---

<section class="px-4 md:mx-auto md:w-full md:max-w-[90rem]">
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
		<!-- Imagen 1 (más grande en pantallas medianas y grandes) -->
		<div class="overflow-hidden rounded-lg shadow-lg sm:col-span-2 lg:col-span-2">
			<img src="/About/AboutUs1.jpeg" alt="Imagen 1" class="h-full w-full object-cover" />
		</div>

		<!-- Imagen 2 (tamaño mediano) -->
		<div class="overflow-hidden rounded-lg shadow-lg">
			<img src="/About/AboutUs2.jpeg" alt="Imagen 2" class="h-auto w-full object-cover" />
			<div class="bg-white p-5 text-primary">
				<!-- Título centrado -->
				<strong class="block text-center font-semibold text-gray-900 underline">
					{ourBeliefs.title1}
				</strong>
				<ul class="list-disc pl-4 pt-4 text-gray-600">
					{ourBeliefs.text1.map((detail: string) => <li>{detail}</li>)}
				</ul>
			</div>
		</div>

		<!-- Imagen 3 (tamaño mediano) -->
		<div class="overflow-hidden rounded-lg shadow-lg">
			<img src="/About/AboutUs3.jpeg" alt="Imagen 3" class="h-auto w-full object-cover" />
			<div class="bg-white p-5 text-primary">
				<!-- Título centrado -->
				<strong class="block text-center font-semibold text-gray-900 underline">
					{ourBeliefs.title2}
				</strong>
				<ul class="list-disc pl-4 pt-4 text-gray-600">
					{ourBeliefs.text2.map((detail: string) => <li>{detail}</li>)}
				</ul>
			</div>
		</div>

		<!-- Imagen 4 (más grande en pantallas medianas y grandes) -->
		<div class="overflow-hidden rounded-lg shadow-lg sm:col-span-2 lg:col-span-2">
			<img src="/About/AboutUs4.jpeg" alt="Imagen 4" class="h-full w-full object-cover" />
		</div>
	</div>
</section>
