---
import i18next from "@/i18n/config.js"

// Obtener el idioma actual y los textos traducidos
const lang = Astro.url.pathname.split("/")[1] || "es"
const translations = i18next.getResourceBundle(lang, "translation")
const pdpRooms = translations.pdpRoom

// Extraer el identificador de la habitación desde la URL
const flatId = Astro.url.pathname.split("/")[2]?.split("-")[0] || "defaultId"
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
	<!-- Características de la vivienda -->
	<div>
		<p class="text-sm text-gray-600">
			<strong>{pdpRooms[flatId]?.roomCharacteristics.houseFeaturesTitle}</strong><br />
			{
				pdpRooms[flatId]?.roomCharacteristics.houseFeatures.map((feature: string) => (
					<>
						<span>- {feature}</span>
						<br />
					</>
				))
			}
		</p>
	</div>

	<!-- Características de la habitación y otros detalles -->
	<div>
		<p class="text-sm text-gray-600">
			<strong>{pdpRooms[flatId]?.roomCharacteristics.roomFeaturesTitle}</strong><br />
			{
				pdpRooms[flatId]?.roomCharacteristics.roomFeatures.map((feature: string) => (
					<>
						<span>- {feature}</span>
						<br />
					</>
				))
			}
	</div>
</div>
