<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
        <p class="text-gray-600 text-sm">
            <strong>Características de la vivienda:</strong><br>
            - Habitación en piso de 72 m².<br>
            - Entreplanta exterior con ascensor.<br>
            - 5 habitaciones.<br>
            - 1 baño.<br>
            - Capacidad máxima: 2 personas.<br>
            - Conexión a internet.<br>
            - Cocina equipada: nevera, horno, microondas.<br>
            - Portero físico.<br>
        </p>
    </div>
    
    <div>
        <p class="text-gray-600 text-sm">
            <strong>Características de la habitación:</strong><br>
            - Habitación amueblada.<br>
            - Cama individual.<br>
            - Ventana al patio.<br><br>

            <strong>Tus compañeros/as:</strong><br>
            - Chicos y chicas.<br>
            - Entre 1 y 99 años.<br>
            - Estudian/Trabajan.<br>
            - El propietario/a no vive en la casa.<br><br>

            <strong>Ambiente de la casa:</strong><br>
            - Tranquilo, no suelen tener visitas y abunda el silencio.<br>
        </p>
    </div>
</div>
