---
import PDPRoom from "@/components/PDPRoom.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import { ROOMS } from "@/data/rooms"
import i18next from "@/i18n/config.js"
import Layout from "@/layouts/Layout.astro"

export const prerender = true

export async function getStaticPaths() {
	// Generate paths for both 'es' and 'en' languages for each room
	const paths = ROOMS.flatMap((room) => [
		{ params: { lang: "es", slug: room.slug } },
		{ params: { lang: "en", slug: room.slug } },
	])

	// Return the array of paths directly, without wrapping it in an object
	return paths
}

// Obtén el slug desde la URL
const { slug } = Astro.params

// Busca la habitación correspondiente al slug
const room = ROOMS.find((room) => room.slug === slug)

if (!room) {
	throw new Error(`No se encontró la habitación con el slug: ${slug}`)
}

const lang = Astro.url.pathname.split("/")[1] || "es"
const translations = i18next.getResourceBundle(lang, "translation")
const findRoom = translations.FindRoom
---

<Layout title={`RentRoomBcn - ${findRoom.find_room}`}>
	<SectionContainer class="px-0">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<PDPRoom room={room} />
		</div>
	</SectionContainer>
</Layout>
